{
	"CFBundleDevelopmentRegion" = en;
	CFBundleDisplayName = "${PRODUCT_NAME}";
	CFBundleExecutable = "${EXECUTABLE_NAME}";
	CFBundleIconFile = "icon.png";
	CFBundleIdentifier = "com.popvox.VoteReport";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundleName = "${PRODUCT_NAME}";
	CFBundlePackageType = APPL;
	CFBundleSignature = "????";
	CFBundleVersion = "1.0";
	LSRequiresIPhoneOS = YES;
	NSMainNibFile = MainWindow;
}